.ri-parent {
  display: flex;
  flex-direction: column;
}

.ri-relateditems {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

.ri-youroutfit {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

/* .ri-item {
  display:flex;
  flex-direction:column;
  border:  5px solid green;
  border-radius: 20px;
  height:  300px;
  width: 150%;
  margin: 10px;
} */

.ri-eachitem {
  border:  5px solid green;
  border-radius: 5px;
  /* height:  100px; */
  width: 66%;
  margin: 10px;
}

.ri-slider {
  position: relative;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  min-width: 50%
}

.yo-slider {
  position: relative;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  min-width: 50%;
  overflow-x:auto
}

.ri-container {
  height: 400px;
  width: 90%;
  position: relative;
  text-align: center;
  color: rebeccapurple;
  border: solid;
  margin: 5rem;
  object-fit: cover;
  object-position: bottom;
}

.yo-container {
  height: 400px;
  width: 90%;
  position: relative;
  text-align: center;
  color: rebeccapurple;
  border: solid;
  margin: 5rem;
  object-fit: cover;
  object-position: bottom;
}

.yo-button-container {
  height: 400px;
  /* width: 90%; */
  width: 400px;
  position: static;
  text-align: center;
  color: rebeccapurple;
  border: solid;
  margin: 5rem;
  object-fit: cover;
  object-position: bottom;
}

.bottom-left {
  position: absolute;
  text-align: left;
  bottom: 40px;
  left: 10px;
}

.ri-image {

  width: 40%;
  min-width: 75%;
  max-width: 100%;
  max-height: 70%;
  border-radius: 10px;
  margin: 10px;
}

.yo-image {

  width: 40%;
  min-width: 75%;
  max-width: 100%;
  max-height: 70%;
  border-radius: 10px;
  margin: 10px;
}

.ri-thumbnails {
  display: flex;
  display: block;
  margin-left: auto;
  margin-right: auto;
  clear: both;
  width: 100px;
  border-radius: 2px;
  padding: 5px;
}

.right-arrow {
  position: absolute;
  top: 50%;
  right: 0px;
  font-size: 3rem;
  color:#000;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.left-arrow {
  position: absolute;
  top: 50%;
  left: 100px;
  font-size: 3rem;
  color:#000;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.ri-star {
  position: absolute;
  top: 1px;
  right: 50px;
  font-size: 3rem;
  z-index: 10;
  cursor: pointer;
}

.comp-additem {
  position: static;
  font-size: 6rem;
  color: rebeccapurple;
}

.yo-additem {
  position: static;
  font-size: 6rem;
  color: rebeccapurple;
}

.ri-modal-Background {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0,0,0, 0, 0.35);
  backdrop-filter: blur(4px);
  position:fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 254;
}

.ri-modal-Container {
  width: 500px;
  height: 500px;
  border-radius: 12px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  padding: 25px;
}



.ri-modal-Title {
  display: inline-block;
  text-align: center;
  margin-top: 10px;
  color: black
}

.ri-modal-Title-Close-Button {
  display: flex;
  justify-content: flex-end;
}

.ri-modal-Title-CloseButton button {
  background-color: transparent;
  border: none;
  font-size: 25px;
  cursor: pointer;
}

.yo-item-Close-Button {
  display: flex;
  justify-content: flex-end;
}

.yo-item-Close-Button {
  background-color: transparent;
  border: none;
  font-size: 25px;
  cursor: pointer;
}

.ri-modal-Container .ri-modal-Body {
  flex: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.0rem;
  text-align: center;
  color: black
}

.ri-modal-Container .ri-modal-Footer {
  flex: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ri-modal-Container .ri-modal-Footer button {
  width: 150px;
  height: 45px;
  margin: 10px;
  border: none;
  background-color: cornflowerblue;
  color: white;
  border-radius: 8px;
  font-size: 20px;
  cursor: pointer;
}