.ov-overview {
  display: flex;
  flex-direction: row;
}

.ov-imageGallery {
  border:  5px solid green;
  border-radius: 20px;
  height:  90vh;
  width: 70%;
  margin: 5px;
}

.ov-selection {
  border: 5px solid red;
  border-radius: 20px;
  height:  95vh;
  width: 30%;
  margin: 10px;
  padding-left: 10px;
  line-height: 10px;
}

.ov-productInfo {
  height:  250px;
  width: 700px;
}

.ov-checkout {
  height:  33.3%;
  width: 90%;
}

.ov-styles {
  display: flex;
  flex-wrap: wrap;
  height: 33.3%;
  width: 90%;
}
.thumbnails {
  height: 75px;
  width: 75px;
  border-radius: 50px;
  padding: 20px;
  flex: 1 0 1 25%;
}

.largePicture {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 600px;
  height: 600px;
  padding: 5px;
}

.ov-sizes, .ov-qty {
font-size: 32px;
margin: 10px;
}

.ov-checkoutButton {
  font-size: 32px;
margin: 10px;
}