.ov-overview {
  display: grid;
  grid-template-areas:
  'gallery gallery gallery gallery cart cart'
  'info info info info info info';
  grid-template-rows: 80% 20%;
  min-width: 100%;
  height: 97vh;
  border: 1px solid black;
}

.ov-gallery {
  border:  1px solid green;
  grid-area: gallery;
  width: 1100px;
}

.ov-cart {
  border: 1px solid red;
  margin: 30px 0px 35px;
  width: 570px;
  grid-area: cart;
}

.ov-description {
  grid-area: info;
  border: 1px solid blue;
  display: flex;
  flex-direction: row;
}

.ov-description-details {
  grid-area: details;
  overflow-wrap: wrap;
  width: 65%;
  padding: 0px 70px 0px;

}

.ov-description p {
  font-size: x-small;
}

.ov-description-ul {
  grid-area: checklist;
  font-size: x-small;
  border-left: 1px solid purple;
  width: 35%;
  padding-top: 20px;
}

.ov-description ul {
  list-style-type: none;
}

.ov-description li:before {
  content: '✓';
}

li.ov-description:not(:last-child) {
  margin-bottom: 30px;
}

.ov-product-info {
  font-size: x-small;
  line-height:  10px;
}

.ov-product-name {
  font-size: x-large;
  font-weight: bolder;
}

.ov-review-stars {
  font-size: medium;
  color: blue;
  background-color: purple !important;
}

.ov-review-link {
  font-size: xx-small;
}

.social-media {
  display: flex;
  flex-direction: row;
}

.Facebook, .Twitter, .Pinterest {
  height: 25px;
  width: 25px;
  /* color: green; */
}

.ov-style-selector {
  font-size: small;
  width: 450px !important;
  border: 1px solid gray;
}

.ov-style-selector-thumbnails {
  height: 90px !important;
  width: 90px !important;
  border-radius: 50px;
  padding: 10px;
  flex: 1 20%;
  flex: 1;
}

.ov-Checkmark {
  color: white;
  background-color: black;
  border-radius: 50px;
  position: absolute;
  z-index: 2;
  margin-left: -35px;
  margin-top: 10px;
  border: 1px solid black;
  border-radius: 50px;
}

.ov-style-sizes {
  width: 250px;
  height: 45px;
  font-size: xx-small;
  }

  .ov-style-qty {
    width: 110px;
    height: 45px;
  }

  .ov-checkout-button {
    width: 190px;
    height: 40px;
    font-size: xx-small;
    /* remove when global button style is changed */
    border: 1px solid black !important;
    background-color: white !important;
    text-align: left !important;
    }

    .ov-left-icon{
      position: absolute;
      right: 91%;
      top: 47%;
      margin-top: -2.5em;
    }

    .ov-right-icon {
      position: absolute;
      right: 38%;
      top: 47%;
      margin-top: -2.5em;
    }

    .ov-down-icon {
      margin: auto;
      display: block;
      margin-top: 30px;
      margin-left: 15px;
     }

     .ov-up-icon {
      margin: auto;
      display: block;
       margin-bottom: 30px;
       margin-left: 15px;
     }

     .ov-img-carousel {
      display: flex;
      flex-direction: row;
    }

    .ov-thumbnail-img-nav {
      display: flex;
      flex-direction: column;
      -webkit-line-clamp: 7;
      margin-top: 5%;
    }

    .ov-main-img-nav {
      display: flex;
      justify-content: center;
      align-items: center;
    }

     .ov-main-img{
      display: block;
      width: 80%;
      height: 650px;
      margin-top: 15px;
      margin-left: 50px;
    }

    .ov-main-img:hover {
      cursor: zoom-in;
    }

    .ov-thumbnail-gallery {
      height: 75px ;
      width: 80px;
      padding-left: 20px;
      margin-bottom: 5px;
      margin-right: 5px;
      float: left;
      position: relative;
    }

    .ov-price {
      display: flex;
      flex-direction: row;
    }

    .ov-thumbnail-gallery-selected {
      height: 75px;
      width: 80px;
      padding-left: 20px;
      margin-bottom: 5px;
      margin-right: 5px;
      float: left;
      position: relative;
      border-right: 5px solid #39FF14;
    }

